.no-script { /* class selector needed for IE */
    text-align: center;
    border: medium solid;
    border-color: rgb(255,0,0);
    background: #eee;
    display: block;
    padding: 20px;
    border-radius: 10px;
}
noscript p {
    margin: 0 20% 0 20%;
}
noscript h2 {
    margin: 0;
}

body {
    background: #222;
    font-family: sans-serif;
    overflow: hidden;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
}

#textpage,.inframe {
    background: #eee;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
}

#textpage h1 {
    margin: 0 0 20px 0;
}

#feedback a:active { color: #FF0; }
#feedback a:link { color: #FF0; }
#feedback a:visited { color: #F20; }
#feedback a:hover  { color: #FF0; text-decoration: underline; }

#feedback, #googlead {
    margin: 3px auto;
    display: table;
}

#backToGame {
    font-weight: bold;
    font-size: 1.2em;
}

.txtin {
    border: 1px solid #b4b4b4;
    padding: 0.4em;
    border-radius: 4px;
}
#submitBot {
    font-size: 1.2em;
    padding: 1px 6px;
    margin: 6px 0 0 0;
}